@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Merriweather:ital,wght@1,300&display=swap');

body{
	font-family: 'Merriweather';
}
* {
	margin: 0;
	padding: 0;
}
i {
	margin-right: 10px;
}

/*---------- top nav css -- multi-level-accordian-menu------------*/
.navbar {
	padding-top: 0em;
	padding-bottom: 0em;
}
.navbar-logo{
	padding: 15px;
	color: #fff;
	font-size: 15pt;
	margin: 0px;
}
.navbar-mainbg{
	background-color: #FBD848;
	padding: 0px;
}
#navbarSupportedContent{
	overflow: hidden;
	position: relative;
	/* display: flex; */
	justify-content: flex-end;
}
#navbarSupportedContent ul{
	padding: 0px;
	margin: 0px;
}
#navbarSupportedContent ul li a i{
	margin-right: 10px;
}
#navbarSupportedContent li {
	list-style-type: none;
	float: left;
}
#navbarSupportedContent ul li a{
	color: rgba(255,255,255,0.5);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}
#navbarSupportedContent>ul>li.active>a{
	color: #1b1b1f;
	background-color: transparent;
	transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
	content: "\f105";
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 14px;
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	transition: 0.5s;
}
#navbarSupportedContent .active>a:not(:only-child):after {
	transform: rotate(90deg);
}
.hori-selector{
	display:inline-block;
	position:absolute;
	height: 100%;
	top: 0px;
	left: 0px;
	transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background-color: #fdf8db;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-top: 10px;
}
.hori-selector .right,
.hori-selector .left{
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: #fdf8db;
	bottom: 10px;
}
.hori-selector .right{
	right: -25px;
}
.hori-selector .left{
	left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before{
	content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FBD848;
}
.hori-selector .right:before{
	bottom: 0;
    right: -25px;
}
.hori-selector .left:before{
	bottom: 0;
    left: -25px;
}


@media(min-width: 992px){
	.navbar-expand-custom {
	    -ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
	}
	.navbar-expand-custom .navbar-nav {
	    -ms-flex-direction: row;
	    flex-direction: row;
	}
	.navbar-expand-custom .navbar-toggler {
	    display: none;
	}
	.navbar-expand-custom .navbar-collapse {
	    display: -ms-flexbox!important;
	    display: flex!important;
	    -ms-flex-preferred-size: auto;
	    flex-basis: auto;
	}
}


@media (max-width: 991px){
	#navbarSupportedContent ul li a{
		padding: 12px 30px;
	}
	.hori-selector{
		margin-top: 0px;
		margin-left: 10px;
		border-radius: 0;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	.hori-selector .left,
	.hori-selector .right{
		right: 10px;
	}
	.hori-selector .left{
		top: -25px;
		left: auto;
	}
	.hori-selector .right{
		bottom: -25px;
	}
	.hori-selector .left:before{
		left: -25px;
		top: -25px;
	}
	.hori-selector .right:before{
		bottom: -25px;
		left: -25px;
	}
}

/* footer css */
  footer{
	background-color: #FFE077; 
	width: 100%; 
	text-align: center; 
	line-height: 35px; 
	height: 35px; 
	color: #1b1b1f;
	font-size: 14px;
  }
  .footer-bottom-site-credit{
	padding-right: 10px;
  }
  span#site-credit a{
	color: #3399fe; 
	font-size: 75%;
  }
  span#site-credit a:hover{
	text-decoration: underline;
  }
   @media only screen and (max-width: 480px) {
	  .footer-bottom-copyright-text{
		font-size: 80%;
	  }
	 .footer-bottom-social-icons{
	   font-size: 80%;
	 }
  }

  @media only screen and (max-width: 960px) {
	.footer-bottom{
	  text-align: center;
	}
	.footer-bottom-copyright-text{
	  width: 100%;
	}
	.footer-bottom-social-icons{
	  background-color: #FFE077;
	}
	.footer-bottom-site-credit{
	  padding-right: 0px;
	}
	#footer-social-links li{
	  list-style: none; 
	  display: inline-block; 
	  padding: 0px 10px;
	}
  }

  @media only screen and (min-width: 961px) {
	.footer-bottom{text-align: left;
	}
	.footer-bottom-copyright-text{
	  max-width: 480px; 
	  float: left; 
	  padding: 5px 5px 5px 10px; 
	}
	.footer-bottom-social-icons{
	  background-color: #FFE077; 
	  text-align: right; 
	  padding: 0px 10px;
	}
	  #footer-social-links li{
		list-style: none; 
		display: inline-block; 
		padding: 5px;
	}
  }


/* student grades */
.table{
	font-size: 14px;
}

.grades-content{
	/* padding-top: 5rem;
	padding-bottom: 5rem; */
	border-color: #ddd;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 1px 1px gray;
	padding:30px;
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.btn{
	background-color: #fc6300;
	border-radius: 12px;
	color: white;
	margin-bottom: 5px;
}

thead{
	background-color: #ffe077;
	border-radius: 10px;
}
.grades-student-info .col{
	padding-left: 2em;
	padding-right: 2em;
}
.grades-student-info .grades-student-personal tbody tr td , .grades-student-info thead span{
	font-weight: bold;
}

.grades-student-info span{
	font-weight: normal;
}

.grades-student-grades td {
    border-right: 2px solid #FC6300;
	border-left: 2px solid #FC6300;
}

.grades-student-grades tr:last-child td {
    border: none;
}
.lastCell {
    border-right: none;
}

@media only screen and (max-width: 480px) {
	section{
		padding: 10px;
	}
	.grades-content{
		padding: 20px 10px 20px 10px;
	}
}

/* student schedule */
.schedule-student td{
	border-right: 2px solid #FC6300;
	border-left: 2px solid #FC6300;
}
