
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.container{
    
    display: grid;
    height: 100vh;
    grid-template-columns: 0.5fr 3fr;
    grid-template-rows: 0.1fr 1fr 0.1fr;
    grid-template-areas:
    "nav nav"
    "sidebar main"
    "sidebar footer";
    grid-gap: 0.2rem;
    

}

nav{
    background-color: aqua;
    grid-area: nav;
}

main{
    background-color: antiquewhite;
    grid-area: main;
}

#sidebar{
    background-color: burlywood;
    grid-area: sidebar;
}

footer{
    background-color:cadetblue;
    grid-area: footer;
}

@media (max-width:736px) {
    #sidebar a span{
        display:none;
    }
}