@import url("admin-sidebar.css");
@import url("admin-navbar.css");


:root{
    --main-radius:10px;
    --main-padding:5px;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 0.5fr 3fr;
    grid-template-rows: 0.1fr 1fr 0.1fr;
    grid-template-areas:
    "nav nav"
    "sidebar main"
    "sidebar footer";
    grid-gap: 0.2rem;
}


main{
    background-color: antiquewhite;
    grid-area: main;
}

footer{
    grid-area: footer;
    background-color: aqua;
}






