
::-webkit-scrollbar {
    display:none;
}

#sidebar{
    background-color: burlywood;
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    overflow:auto;
}

#sidebar a{
    text-decoration: none;
    display: block;
    transition: 0.5s;
    line-height: 50px;
   
   
}

#sidebar a:hover{
    padding-left:10px;
    background-color: grey;
    border-radius: 10px;
}

#sidebar center img{
    border-radius: 50%;
    border: solid white;
    width: 100%;
    max-width: 150px;
    height: auto;
    margin: 20px 0;
}

#sidebar span{
    padding: 0 5px;
    margin-left: 10px;
}

#sidebar i{
    margin-left: 20px;
}



@media (max-width:736px) {
    #sidebar a span{
        display: none;
    }

    #sidebar center{
        display:none;
    }

    #sidebar a i{
        display: flex;
        line-height: 50px;
        margin-left: 0;
        justify-content: center;
        align-content: center;
    }

  
    
   
}